<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.xannymedia.fruitcatche."
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Fruit Catch....</name>

  <description>
      A fun drawing based game .
  </description>

  <author href="https://build.phonegap.com" email="tadiwagasol2@gmail.com">
      XY XAN
  </author>
  
  <platform name="android" />

  <icon source="icon.png" />



</widget>